In [64]:
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [65]:
df = pd.read_csv("C:/Users/prati/Downloads/spam.csv", encoding='latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [66]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\prati\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\prati\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\prati\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [67]:
STOPWORDS = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [68]:
#get necessary columns
df=df[['v2','v1']]
df=df.rename(columns={'v2':'messages','v1':'label'})
df.head()

                                            messages label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [69]:
#null value
df.isnull().sum()
df.head()

                                            messages label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [70]:
EMOJI_PATTERN = re.compile("["
    u"\U0001F600-\U0001F64F"  # emoticons
    u"\U0001F300-\U0001F5FF"  # symbols & pictographs
    u"\U0001F680-\U0001F6FF"  # transport & map symbols
    u"\U0001F1E0-\U0001F1FF"  # flags
    u"\U00002500-\U00002BEF"  # Chinese characters & misc
    u"\U00002702-\U000027B0"
    u"\U000024C2-\U0001F251"
    u"\U0001f926-\U0001f937"
    u"\U00010000-\U0010ffff"
    u"\u200d"                 # zero-width joiner
    u"\u2640-\u2642"
    u"\u2600-\u2B55"
    u"\u23cf"
    u"\u23e9"
    u"\u231a"
    u"\ufe0f"                 # dingbats
    u"\u3030"
"]+", flags=re.UNICODE)

In [71]:
SMS_ABBREVIATIONS = {
    "u": "you", "r": "are", "lol": "laughing out loud", "b4": "before",
    "gr8": "great", "l8r": "later", "idk": "i don't know", "omg": "oh my god",
    "ttyl": "talk to you later", "brb": "be right back", "pls": "please",
    "btw": "by the way", "cya": "see you", "thx": "thanks", 
    "fyi": "for your information", "np": "no problem", "yw": "you're welcome",
    "wbu": "what about you", "smh": "shaking my head", "lmao": "laughing my ass off",
    "rofl": "rolling on the floor laughing", "bff": "best friends forever",
    "tbh": "to be honest", "omw": "on my way", "imo": "in my opinion",
    "mfw": "my face when", "gtg": "got to go", "ttys": "talk to you soon",
    "gtfo": "get the f*** out", "asap": "as soon as possible", "cba": "can't be arsed",
    "diy": "do it yourself", "lmk": "let me know", "fomo": "fear of missing out",
    "tmi": "too much information", "ppl": "people", "bbl": "be back later",
    "icymi": "in case you missed it", "plz": "please", "2moro": "tomorrow", 
    "bruh": "bro", "slay": "to perform extremely well", "fam": "family", 
    "m8": "mate", "csm": "can't stop me", "fr": "for real", "nvm": "never mind",
    "gg": "good game", "wtf": "what the f***", "wtbs": "what the big surprise", 
    "lmfao": "laughing my f***ing ass off", "gtfoh": "get the f*** out of here"
}

In [72]:
def clean_text(text):
    text=text.lower()
    
    text=re.sub(r'^0-9a-zA-Z',' ',text)
    
    text = EMOJI_PATTERN.sub(r'', text)
    
    text = ' '.join([SMS_ABBREVIATIONS.get(word, word) for word in text.split()])
    
    words = word_tokenize(text)
    
    words = [word for word in words if word not in STOPWORDS]
    
    words = [lemmatizer.lemmatize(word) for word in words]
    
    text = ' '.join(words)
    
    text = re.sub(r'\s+', ' ', text).strip() 
    
    return text

In [73]:
#clean message
df['clean_text']=df['messages'].apply(clean_text)
df.head()

,messages,label,clean_text
0,"Go until jurong point, crazy.. Available only ...",ham,"go jurong point , crazy .. available bugis n g..."
1,Ok lar... Joking wif u oni...,ham,ok lar ... joking wif oni ...
2,Free entry in 2 a wkly comp to win FA Cup fina...,spam,free entry 2 wkly comp win fa cup final tkts 2...
3,U dun say so early hor... U c already then say...,ham,dun say early hor ... c already say ...
4,"Nah I don't think he goes to usf, he lives aro...",ham,"nah n't think go usf , life around though"

In [74]:
x=df['clean_text']
y=df['label']

In [75]:
df.to_csv("C:/Users/prati/Downloads/cleaned_spam.csv", index=False)